* {
	margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: 'Clear Sans', sans-serif;
  overflow-x: hidden;
}
